{% extends "layout.html" %}
{% block content %}


<div class="container-fluid all-container">
{% include 'navbar.html' %}

  <div style="padding-top:5em">

      <!-- --------------------------------- carousel sectoion ---------------------------- -->
      <section class="container mb-4 carousel-container">
        <div id="carouselExampleCaptions" class="carousel slide carousel-slides" data-bs-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{url_for('static',filename='pictures/boys1.jpg')}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-text-h-chlapci">Pro chlapce</h5>
                <p class=carousel-text-p-chlapci>Nejvyšší kvalita oblečení pro chlapce.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static',filename='pictures/baby1.jpg')}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-text-h">Pro nejmenší</h5>
                <p class=carousel-text-p>Nejvyšší kvalita oblečení pro nejmenší.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static',filename='pictures/girl1.jpg')}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-text-h">Pro dívky</h5>
                <p class=carousel-text-p>Nejvyšší kvalita oblečení pro dívky.</p>
              </div>

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
<!--    </div>-->
</section>
<!-- ------------------------------------carousel section end------------------------------- -->
    <!-- ------------------------------------card deck section start------------------------------- -->

<section>
      <!-- <div class="container card-deck-container"> -->
      <div class="row row-cols-1 row-cols-md-4 g-4 card-deck-row">

        <div class="col">
          <a href="#" class="shopping-odkaz">
            <div class="card baby-card h-100">
              <img src="{{url_for('static',filename='pictures/baby-card.png')}}" class="card-img-top card-baby-background" alt="...">
              <div class="card-body title-baby-background">
                <h5 class="card-title">Pro nejmenší</h5>
              </div>
            </div>
        </a></div>
        <div class="col">
          <a href="#" class="shopping-odkaz">
            <div class="card boy-card h-100">
              <img src="{{url_for('static',filename='pictures/boy-card-1.png')}}" class="card-img-top card-boy-background" alt="...">
              <div class="card-body title-boy-background">
                <h5 class="card-title ">Pro chlapce</h5>
              </div>
            </div>
        </a></div>
        <div class="col">
          <a href="#" class="shopping-odkaz">
            <div class="card girl-card h-100">
              <img src="{{url_for('static',filename='pictures/ballerina.png')}}" class="card-img-top card-girl-background" alt="...">
              <div class="card-body title-girl-background">
                <h5 class="card-title">Pro dívky</h5>
              </div>
            </div>
        </a></div>
        <div class="col">
          <a href="#" class="shopping-odkaz">
            <div class="card toy-card h-100">
              <img src="{{url_for('static',filename='pictures/teddy-bear-card.png')}}" class="card-img-top card-toys-background" alt="...">
              <div class="card-body title-toys-background">
                <h5 class="card-title">Hračky</h5>
              </div>
            </div>
        </a></div>
      </div>
    </section>
    <!-- ------------------------------------card deck section end------------------------------- -->

<section>

    <h1 class="nadpis-best-seller">Nejprodávanější produkty</h1>

 <div class="row row-cols-1 row-cols-lg-5 row-cols-md-2 g-4 best-seller">
            {% for product in products.items %}
        <div class="col-md-4 mt-3">
            <div class="card h-100 best-seler-card" >
                <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{ product.name }}" class="card-img-top" height="200">
                <div class="card-body"></div>
                {% if product.discount > 0 %}
                <h5 class="discount" style=> Discount {{product.discount}} %</h5>

<!--                <p class="text-center"> Sleva: {{ product.discount }} %</p>-->
                {% endif %}
                <a href="{{url_for('single_page', id=product.id)}}" class="product-odkaz">
                <h5 class="text-center card-title-products">{{ product.name }}</h5>
                </a>
                <p class="text-center card-title-price">{{ product.price }} Korun</p>

                <div class="card-footer">
                    <a href="{{url_for('single_page', id=product.id)}}" class="detail-btn btn btn-sm btn-primary">Detail</a>
                    <form action="{{url_for('AddCart')}}" method="post">
          <input type="hidden" name="product_id" value="{{product.id}}">
          <button type="submit" class="btn btn-sm btn-warning buy-button">Do košíku</button>
<!--          <label for="">Pocet kusu</label>-->
          <input type="hidden" name="quantity" id=" " value="1" min="1" max="{{product.stock}}">
          {% set colors = product.colors.split(',') %}
<!--          <label for="colors">Colors</label>-->
          <select name="colors" id="colors" style="visibility:hidden;">
            {% for color in colors %}
            {% set col = color.split(':') %}
            <option value="{{col[0]}}">{{col[0] | capitalize}}</option>
            {% endfor %}
          </select>
        </form>
                </div>
            </div>
        </div>
            {% endfor %}
        </div>

    </section>


          <!-- ------------------------------------garance start ---------------------------------- -->

    <section>



      <div class="row garance-row">

        <div class="feature-box col-sm-4">
          <img class="truck-icons" src="{{url_for('static',filename='pictures/truck1.png')}}" alt="">

          <h3>Rychlé dodání.</h3>

          <p class="warranty-p">Objednané zboží odesíláme nejpozději druhý den od Vaší objednávky.</p>
        </div>
        <div class="feature-box col-sm-4">
          <img class="warranty-icons" src="{{url_for('static',filename='pictures/quality.png')}}" alt="">
          <h3>Vysoká kvalita</h3>
          <p class="warranty-p">Prodáváme zboží, která má tu největší kvalitu</p>
        </div>
        <div class="feature-box col-sm-4">
          <img class="sack-icons" src="{{url_for('static',filename='pictures/sack.png')}}" alt="">
          <h3>Nízká cena</h3>
          <p class="warranty-p">Výrobky, které prodáváme mají vysokou kvalitu a nízkou cenu.</p>
        </div>
      </div>

    </section>
    <!-- ------------------------------------garance konec ---------------------------------- -->

        <!-- ---------------------------------------blog zacatek------------------------------------- -->

    <section>
      <div class="container blog-container">
        <h1 class="nadpis-best-seller">Náš blog</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
                          <h1 class="nadpis-best-seller text-black">V přípravě</h1>

<!--            <div class="card h-100">-->
<!--              <img src="images/start-blog.jpg" class="card-img-top" alt="...">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title card-title-blog">Zahajujeme provoz</h5>-->
<!--                <p class="card-text card-text-blog">Zahajujeme provoz našeho internetového obchodu s dětským oblečením pro chlapce i dívky a s širokým sortimentem hraček.</p>-->
<!--                <button type="button" name="button" class="blog-button">Číst víc...</button>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card h-100">-->
<!--              <img src="images/sklad-blog.jpg" class="card-img-top" alt="...">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title card-title-blog">Naskladňujeme zboží</h5>-->
<!--                <p class="card-text card-text-blog">Do našeho obchodu dorazilo spoustu nového zboží, které je potřeba naskladnit a prodat koncovým zákazníkům.</p>-->
<!--                <button type="button" name="button" class="blog-button">Číst víc...</button>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card h-100">-->
<!--              <img src="images/sortiment-blog.jpg" class="card-img-top" alt="...">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title card-title-blog">Přidáváme sortiment</h5>-->
<!--                <p class="card-text card-text-blog">Právě dorazilo nové oblečení a hračky s motivem tlapkové patroly, který je u dětí velmi oblíbený. můžete objednávat od nového roku.</p>-->
<!--                <button type="button" name="button" class="blog-button">Číst víc...</button>-->
<!--              </div>-->

<!--            </div>-->
          </div>
        </div>
      </div>
    </section>
    <!-- ---------------------------------------blog konec------------------------------------- -->

  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </div>

{% endblock content %}


