{% extends "layout.html" %}
{% block content %}
<!----------------------------- navabar start ------------------------->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">All product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All brands
          </a>
          <ul class="dropdown-menu">
              {% for brand in brands %}
            <li><a class="dropdown-item" href="{{ url_for('get_brand', id = brand.id)}}">{{ brand.name }}</a></li>
              {% endfor %}
          </ul>
        </li>

           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All categories
          </a>
          <ul class="dropdown-menu">
              {% for category in categories %}
            <li><a class="dropdown-item" href="{{ url_for('get_category', id = category.id)}}">{{ category.name }}</a></li>
              {% endfor %}
          </ul>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!----------------------------- navabar end ------------------------->


<div class="container">
    <div class="row">

<!--        Tohle se provede pokud chci jen urcitou znacku -->

        {% if brand %}
{% for b in brand %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + b.image_1)}}" alt="{{ b.name }}" class="card-img-top" height="200">
                <div class="card-body"></div>
                {% if b.discount > 0 %}
                <p class="text-center"> Sleva: {{ b.discount }} %</p>
                {% endif %}
                <h5 class="text-center">{{ b.name }}</h5>
                <p class="text-center">{{ b.price }} Korun</p>
                <div class="card-footer">
                    <a herf="#" class="float-left btn btn-sm btn-primary"> Details</a>
                    <a herf="#" class="float-right btn btn-sm btn-warning">Add to card</a>

                </div>
            </div>
        </div>
            {% endfor %}

        {% elif get_cat_prod %}
            {% for get_cat in get_cat_prod %}
         <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + get_cat.image_1)}}" alt="{{ get_cat.name }}" class="card-img-top" height="200">
                <div class="card-body"></div>
                {% if get_cat.discount > 0 %}
                <p class="text-center"> Sleva: {{ get_cat.discount }} %</p>
                {% endif %}
                <h5 class="text-center">{{ get_cat.name }}</h5>
                <p class="text-center">{{ get_cat.price }} Korun</p>
                <div class="card-footer">
                    <a herf="#" class="float-left btn btn-sm btn-primary"> Details</a>
                    <a herf="#" class="float-right btn btn-sm btn-warning">Add to card</a>

                </div>
            </div>
        </div>
            {% endfor %}

        {% else %}
            {% for product in products %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{ product.name }}" class="card-img-top" height="200">
                <div class="card-body"></div>
                {% if product.discount > 0 %}
                <p class="text-center"> Sleva: {{ product.discount }} %</p>
                {% endif %}
                <h5 class="text-center">{{ product.name }}</h5>
                <p class="text-center">{{ product.price }} Korun</p>
                <div class="card-footer">
                    <a herf="#" class="float-left btn btn-sm btn-primary"> Details</a>
                    <a herf="#" class="float-right btn btn-sm btn-warning">Add to card</a>

                </div>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

{% endblock content %}