{% extends "layout.html" %}
{% block content %}
<!----------------------------- navabar start ------------------------->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">All product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All brands
          </a>
          <ul class="dropdown-menu">
              {% for brand in brands %}
            <li><a class="dropdown-item" href="{{ url_for('get_brand', id = brand.id)}}">{{ brand.name }}</a></li>
              {% endfor %}
          </ul>
        </li>

           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All categories
          </a>
          <ul class="dropdown-menu">
              {% for category in categories %}
            <li><a class="dropdown-item" href="{{ url_for('get_category', id = category.id)}}">{{ category.name }}</a></li>
              {% endfor %}
          </ul>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!----------------------------- navabar end ------------------------->


<div class="container">
    <div class="row">

<!--        Tohle se provede pokud chci jen urcitou znacku -->

        {% if brand %}
{% for b in brand.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + b.image_1)}}" alt="{{ b.name }}" class="card-img-top" height="200">
                <div class="card-body"></div>
                {% if b.discount > 0 %}
                <p class="text-center"> Sleva: {{ b.discount }} %</p>
                {% endif %}
                <h5 class="text-center">{{ b.name }}</h5>
                <p class="text-center">{{ b.price }} Korun</p>
                <div class="card-footer">
                    <a herf="#" class="float-left btn btn-sm btn-primary"> Details</a>
                    <a herf="#" class="float-right btn btn-sm btn-warning">Add to card</a>

                </div>
            </div>
        </div>
            {% endfor %}
        </div>

    <!--    Toto je stránkování v produktech start 👇👇-->
    <div class="row">
        <div class="col text-center">
            {% if brand.has_prev %}
            <a href="{{url_for('get_brand', id=get_b.id, page=get_b.prev_num)}}" class="btn btn-outline-info">Předchozí</a>
            {% endif %}
            {% if brand.total > 3 %}
            {% for page_num in brand.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
            {% if page_num %}
            {% if brand.page == page_num %}
            <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-info">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-outline-info">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}

             {% if brand.has_next %}
            <a href="{{url_for('get_brand', id=get_b.id, page=get_b.next_num)}}" class="btn btn-outline-info">Další</a>
            {% endif %}
            </div>
        </div>
    <!--    Toto je stránkování v produktech konec 👆👆👆 -->

     <div class="row">
        {% elif get_cat_prod %}
            {% for get_cat in get_cat_prod.items %}

         <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + get_cat.image_1)}}" alt="{{ get_cat.name }}" class="card-img-top" height="200">
                <div class="card-body"></div>
                {% if get_cat.discount > 0 %}
                <p class="text-center"> Sleva: {{ get_cat.discount }} %</p>
                {% endif %}
                <h5 class="text-center">{{ get_cat.name }}</h5>
                <p class="text-center">{{ get_cat.price }} Korun</p>
                <div class="card-footer">
                    <a herf="#" class="float-left btn btn-sm btn-primary"> Details</a>
                    <a herf="#" class="float-right btn btn-sm btn-warning">Add to card</a>

                </div>
            </div>
        </div>
            {% endfor %}
    </div>

<!--    Toto je stránkování v produktech start 👇👇-->
    <div class="row">
        <div class="col text-center">
            {% if get_cat_prod.has_prev %}
            <a href="{{url_for('get_category', id=get_cat.id, page=get_cat_prod.prev_num)}}" class="btn btn-outline-info">Předchozí</a>
            {% endif %}
            {% if get_cat_prod.total > 3 %}
            {% for page_num in get_cat_prod.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
            {% if page_num %}
            {% if get_cat_prod.page == page_num %}
            <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-info">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-outline-info">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}

             {% if get_cat_prod.has_next %}
            <a href="{{url_for('get_category', id=get_cat.id, page=get_cat_prod.next_num)}}" class="btn btn-outline-info">Další</a>
            {% endif %}
            </div>
        </div>
    <!--    Toto je stránkování v produktech konec 👆👆👆 -->

    <div class="row">
        {% else %}
            {% for product in products.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{ product.name }}" class="card-img-top" height="200">
                <div class="card-body"></div>
                {% if product.discount > 0 %}
                <p class="text-center"> Sleva: {{ product.discount }} %</p>
                {% endif %}
                <h5 class="text-center">{{ product.name }}</h5>
                <p class="text-center">{{ product.price }} Korun</p>
                <div class="card-footer">
                    <a herf="#" class="float-left btn btn-sm btn-primary"> Details</a>
                    <a herf="#" class="float-right btn btn-sm btn-warning">Add to card</a>

                </div>
            </div>
        </div>
            {% endfor %}
        </div>

<!--    Toto je stránkování v produktech start 👇👇-->
    <div class="row">
        <div class="col text-center">
            {% if products.has_prev %}
            <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-outline-info">Předchozí</a>
            {% endif %}
<!--            👇pokud je mene produktu nez tri nezobrazi se cisla pokud to nechci vymazat radek dole a oznaceny endif-->
            {% if products.total > 3 %}
<!--            left edge right edge dole v řádku posunou číslování tak že nebudu mít dlouhou řadu čissel ale jen dvě čisla okolo stranky kde zrovana jsem-->
            {% for page_num in products.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
            {% if page_num %}
            {% if products.page == page_num %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-info">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-info">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
<!--            👇👇k cislovani vymazat endif dole -->
            {% endif %}

             {% if products.has_next %}
            <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-outline-info">Další</a>
            {% endif %}
            </div>
        </div>
    <!--    Toto je stránkování v produktech konec 👆👆👆 -->
        {% endif %}
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

{% endblock content %}