<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bubblegum+Sans&family=Dekko&family=DynaPuff:wght@400;500;600;700&family=Finger+Paint&family=Gochi+Hand&family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Henny+Penny&family=Hi+Melody&family=Short+Stack&family=Single+Day&display=swap"
        rel="stylesheet">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <title>{{title}}</title>
  </head>
  <body>
  {% block content %}
  {% endblock content %}



    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>

<footer class="text-center text-lg-start text-black footer-all">
  <div class="container p-4 pb-0">
    <section class="#">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 footer-nadpis">
            Dětské hřiště
          </h6>
          <p>
            Zabýváme se prodejem dětského oblečení pro chlapce dívky a i ty nejmenší miminka.
            Dále se zabýváme prodejme hraček a v našem e-shopu si můžete vybrat vše co zrovna frčí a
            je v módě.
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Odkazy</h6>
          <p>
            <a href="#" class="text-black">Obchod</a>
          </p>
          <p>
            <a href="#" class="text-black">Blog</a>
          </p>
          <p>
            <a href="#" class="text-black">Hračky</a>
          </p>
          <p>
            <a href="#" class="text-black">Oblečení</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Sociální sítě
          </h6>
          <p>
            <a href="https://www.seznam.cz/" class="text-black"><i class="fa-brands fa-facebook"></i> Facebook</a>
          </p>
          <p>
            <a href="#" class="text-black"><i class="fa-brands fa-square-instagram"></i> Instagram</a>
          </p>
          <p>
            <a href="#" class="text-black"><i class="fa-brands fa-twitter"></i> Twitter</a>
          </p>
          <p>
            <a href="#" class="text-black"><i class="fa-brands fa-google"></i> Google</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Kontakty</h6>
          <p><i class="fa-solid fa-house"></i> České Budějovice, Úsilné 58</p>
          <p><i class="fa-solid fa-envelope"></i> kontakt@detskehriste.cz</p>
          <p><i class="fa-solid fa-phone"></i> + 420 605 026 890</p>
          <p><i class="fa-solid fa-phone"></i> + 420 606 548 696</p>
        </div>
      </div>
    </section>

    <hr class="my-3">


    <section class="p-3 pt-0">
      <div class="row d-flex footer-odkazy">
        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Copyright -->
          <div class="p-3">
            <a href="#" class="text-black" href="https://getbootstrap.com/">Bootstrap</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-3">
            <a class="text-black" href="https://fontawesome.com/">Awesomeicons</a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="p-3">
            <a class="text-black" href="https://pixabay.com/">Pixabay</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-3">
            <a class="text-black" href="https://color.adobe.com/">Color wheel</a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="p-3">
            © 2022
            <a class="text-black" href="https://liborhavranek.github.io/Libor-Havranek-Portfolio_web-page/">Made with ❤️ by Libor Havranek</a>
          </div>
        </div>

      </div>
    </section>
  </div>
</footer>
</html>