<!----------------------------- navabar start ------------------------->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">All product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
 <li class="nav-item">
          <a class="nav-link" href="{{url_for('getCart')}}">Cart ({{ session['Shoppingcart'] | length }})</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All brands
          </a>
          <ul class="dropdown-menu">
              {% for brand in brands %}
            <li><a class="dropdown-item" href="{{ url_for('get_brand', id = brand.id)}}">{{ brand.name }}</a></li>
              {% endfor %}
          </ul>
        </li>

           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All categories
          </a>
          <ul class="dropdown-menu">
              {% for category in categories %}
            <li><a class="dropdown-item" href="{{ url_for('get_category', id = category.id)}}">{{ category.name }}</a></li>
              {% endfor %}
          </ul>
        </li>
      </ul>
        <form class="d-flex" role="search" action="{{url_for('result')}}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!----------------------------- navabar end ------------------------->