{% extends "layout.html" %}
{% block content %}
{% include '_messages.html' %}

<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">Administrator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/category">Categories</a>
        </li>
          <li class="nav-item">
          <a class="nav-link " href="/category">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div class="container">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <th>Serial Number</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>

        <tbody>
        {% if brands %}
        {% for brand in brands %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ brand.name }}</td>
                <td><a href="{{ url_for('updatebrand', id=brand.id)}}" class="btn btn-sm btn-outline-success">Edit</a></td>
                <td>
                            <!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{brand.id}}">
  Delete
</button>
                </td>
            </tr>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop-{{brand.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{brand.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <span class="text-danger">Opravdu chceš smazat značku {{brand.name}}  ???</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
          <form action="{{url_for('deletebrand', id=brand.id)}}" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>

      </div>
    </div>
  </div>
</div>
        {% endfor %}
        {% else %}
        {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                <td><a href="{{ url_for('updatecat', id=category.id)}}" class="btn btn-sm btn-outline-success">Edit</a></td>
                <td>
                                                <!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{category.id}}">
  Delete
</button>
                </td>
            </tr>

        <!-- Modal -->
<div class="modal fade" id="staticBackdrop-{{category.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel-1">{{category.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <span class="text-danger">Opravdu chceš smazat kategorii {{category.name}}  ???</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
          <form action="{{url_for('deletecat', id=category.id)}}" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>

      </div>
    </div>
  </div>
</div>


        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}